body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header {
    background-color: #ffffff; /* צבע רקע לכותרת */
    width: 200%;
    padding: 100px 100;
    text-align: center;
    color: #112233;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 100px 0 0 0;
    font-size: 2em;
}

.header-image {
    width: 150px; /* התאמה לגודל הרצוי */
    height: 100%;
    margin-bottom: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 90px);
    grid-gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.grid-item {
    background-color: #112233;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease;
}

.grid-item:hover {
    transform: translateY(-10px);
}

.icon {
    width: 50px;
    margin-top: 10px;
}

.image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
}

.grid-item p {
    font-size: 1.2em;
    margin: 10px 0;
    color: #ffffff;
}

a {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 10px;
}
