body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    display: flow;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#aaa {
    color: #1c3a52;
    text-align: left;
    width: 25%;
}

header {
    background-color: #ffffff; /* צבע רקע לכותרת */
    width: 50%;
    padding: 100px 100;
    text-align: center;
    color: #1c3a52;
    display: table-footer-group;
}

header h1 {
    margin: 1px 0 0 0;
    font-size: 1.8em;
    display: block;
}

.header-image {
    width: 50%;
    margin-bottom: 10px;
    display: ;
}

.grid-container {
    display: inline-grid;
    grid-template-columns: repeat(3, 95px);
    grid-auto-rows: 120px;
    grid-gap: 20px;
    max-width: 300px;
    justify-content: space-around;
    margin: 0 auto;
    padding: 30px;
}

.grid-item {
    background-color: #1c3a52;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    line-self: center;
    height: 50%;
    transition: transform 0.3s ease;
}

.grid-item:hover {
    transform: translateY(-10px);
}

.image {
    background: #ffffff;
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
}

.grid-item p {
    font-size: 1.2em;
    color: #ffffff;
    margin: 10px 0;
    
}

a {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 10px;
}
